<script context="module">
    export async function load({fetch}) {
        const posts = await fetch("/index.json").then((r) => r.json())

        return {
            props: {posts}
        }
    }
</script>

<script>
    import PostCard from "/src/components/post-card.svelte";
    export let posts;
</script>

<style>
 main {
     padding: 4vw;
 }

 :global(article) {
     border-bottom: 1px solid lightgray;
 }
</style>

<svelte:head>
    <title>Blog PPL 2022 - Olivia Monica 1906350641</title>
    <meta name="description" content="This is my personal blog created with SvelteKit!">
</svelte:head>

<main>
    <h4>Blog is still under construction, please pardon the plain styling!</h4>
    <h2>Individual Review</h2>
    {#each posts as post}
        <PostCard {...post}/>
    {/each}
</main>
